<div class="grid-photo-wrap">
  {{#link-to 'view' post.code}}
    <img src={{post.display_src}} alt={{post.caption}} class="grid-photo" />
  {{/link-to}}

  {{!-- <CSSTransitionGroup transitionName="like" transitionEnterTimeout={500} transitionLeaveTimeout={500}>
    <span key={post.likes} class="likes-heart">{post.likes}</span>
  </CSSTransitionGroup> --}}

</div>

<figcaption>
  <p>{{post.caption}}</p>
  <div class="control-buttons">
    <button onclick={{action like i}} class="likes">&hearts; {{post.likes}}</button>
    {{#link-to "view" post.code class="button"}}
      <span class="comment-count">
        <span class="speech-bubble"></span>
        {{commentCount}}
      </span>
    {{/link-to}}
  </div>
</figcaption>